# Файл .gitignore для React + Docker проекта

# Директории
node_modules/
build/
dist/
.DS_Store

# Файлы окружения
.env
.env.local
.env.development
.env.test
.env.production

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Тестовые покрытия
coverage/
.nyc_output/

# Системные файлы
Thumbs.db
node_modules/
